name: cicd-workflow

on:
  push:
    branches: [ "Dev", "main" ]
  workflow_dispatch:

jobs:
  # Job 1: Build and Push to Docker Hub
  containerise-model:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/score-predictor:latest

  # Job 2: Pull from Docker Hub and Deploy to Minikube
  pull-image-job:
    runs-on: ubuntu-latest
    needs: containerise-model # Ensures Job 2 only runs if Job 1 succeeds
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Minikube
        uses: medyagh/setup-minikube@latest

      - name: Start Minikube Dashboard
        run: |
          nohup minikube dashboard --url > dashboard.log 2>&1 &

      - name: Deploy to Minikube
        run: |
          # Updating the image in your deployment manifest
          sed -i "s|image:.*|image: ${{ secrets.DOCKER_USERNAME }}/score-predictor:latest|g" deployment.yaml
          kubectl apply -f deployment.yaml
          kubectl apply -f service.yaml

      - name: Start Minikube Tunnel
        run: |
          # Start tunnel in background to assign the External IP
          nohup minikube tunnel > tunnel.log 2>&1 &
          sleep 20

      - name: Verify Deployment and Access App
        run: |
          kubectl rollout status deployment/score-deployment --timeout=120s
          
          # Get the IP shown in your screenshot (e.g., 10.106.251.165)
          EXTERNAL_IP=$(kubectl get svc score -o jsonpath='{.status.loadBalancer.ingress[0].ip}')
          echo "The App is live at: http://$EXTERNAL_IP"
          
          # Final check to verify the browser application is responding
          curl --retry 5 --retry-connrefused http://$EXTERNAL_IP

      - name: Upload Logs for Screenshots
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: minikube-logs
          path: |
            dashboard.log
            tunnel.log